.places{
    font-size: 15px;
    grid-column-start:3;
    grid-row-start: 3;
    position: absolute;
}

.places article{
    padding: 20px;
    margin: 20px;
    width: 320px;
    border: #FF5A5F solid 1px;
    text-align: center;
    float: left;
}

.places h2{
    float: left;
    align-content: center;
    margin-left: 100px;

    /* margin-right: 0px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-top: 0; */
}

.price_by_night{
    border: #FF5A5F solid 4px;
    border-radius: 100px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    color: #FF5A5F;
    margin-left: 25px;
    float:left;
}

 .price_by_night p{
    margin-top:12px;
}

.information{
    height: 80px;
    border-top: #DDDDDD solid 1px;
    border-bottom: #DDDDDD solid 1px;
    margin-top: 80px;
}

.max_guest{
    width: 100px;
    background-image: url('../images/icon_group.png');
    background-repeat: no-repeat;
    line-height: 110px;
    text-align: left;
    margin-left: 10px;
    float: left;
}

.number_rooms{
    width: 100px;
    background-image: url('../images/icon_bed.png');
    background-repeat: no-repeat;
    line-height: 110px;
    text-align: left;
    margin-left: 0px;
    float: left;
}

.number_rooms p{
    margin-left: -10px;
}

.number_bathrooms{
    width: 100px;
    background-image: url('../images/icon_bath.png');
    background-repeat: no-repeat;
    line-height: 130px;
    text-align: left;
    margin-left: 225px;
    margin-top: -10px;
    float: inherit;
}

.number_bathrooms p{
    margin-left: -40px;
}

.user{
    margin-right: 150px;
    margin-top: -50px;
    float: left;
}

.description{
    margin-top: -30px;
    float:left;
    text-align: left;
}

.amenities{
    margin-top: 60px;

}

.amenities h2{
    font-size: 16px;
    border-bottom: #DDDDDD solid 1px;
    margin-left: 0px;
}

.amenities ul{
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
    justify-content: left;
    grid-row: 5/6;
    grid-column: 3/5;
}

.amenities li{
    list-style-type: none;
    padding-left: 0px;
    text-align: left;

}
